@import "./tokens/index.css";
@import "./themes/index.css";

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  margin: 0;
  padding: 0;
}

html {
  height: 100dvh;
  overflow: hidden;
}

#root,
body {
  height: 100%;
}

body {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: var(--color-text-light);
}

.section-title {
  font-size: 16px;
  color: var(--color-text-muted);
  margin-bottom: 8px;
  font-weight: 400;
}

[data-theme="dark"] {
  --text: #ffffff;
  --bg: #000000;
  --bg-shadow: ;
}

[data-theme="light"] {
  --text: #000000;
  --bg: #ffffff;
  --bg-shadow: ;
}
