@import "./tokens/index.css";
@import "./themes/index.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100dvh;
  overflow: hidden;
}

#root,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg-outer);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text-light);
  transition: background-color var(--motion-base) var(--motion-easing);
}

/* Reset buttons and inputs */
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
