.header {
  padding: 12px 24px;
  background-color: #ffffff;
  border-bottom: 1px solid red;
}

.children {
  padding: 32px 24px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 70px;
}
